@import "tailwindcss";
@plugin '@tailwindcss/typography';

@custom-variant dark (&:where(.dark, .dark *));

:root {
  --main-font: "Inknut Antiqua";
  --sec-font: "Source Serif 4";
  --main-light: #d9d9d9;
  --sec-light: #808080;
  --mid-light: #c9c9c9;
  --mid-dark: #4e4e4e;
  --main-dark: #2a2a2a;
  --sec-dark: #d9d9d9;
  --red: #ac0000;
  --green: #0a7d00;
}

html {
  background-color: var(--main-light);
  color: black;
}

html.dark {
  background-color: var(--main-dark);
  color: white;
}

.logo {
  writing-mode: tb-rl;
}
